$white: #ffffff;
$border-color: #eeeeee;
$font-size-small: 13px;
$facebook-color: #4867AA;
$twitter-color: #00ACED;
$comments-color: #A28776;
$google-color: #eb4026;
$linkedin-color: #0077B5;
$reddit-color: #FF4500;
$email-color: #FAAF3A;
$pinterest-color: #ca212a;